@import "$lib/styles/fonts.scss";
// @import "$lib/styles/enhanced_fonts.scss"; // when you need special font features such as lining figures
@import "$lib/styles/palette.scss";
@import "$lib/styles/mq.scss";
@import "$lib/styles/defaults.scss";
@import "$lib/styles/full-width-immersive.scss";
@import "./layout.scss";

// include Guardian Text Sans font with medium weight 
@font-face {
  font-family: 'Guardian Text Sans Web Medium';
  src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianTextSansWeb/GuardianTextSansWeb-Medium.eot');
  src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianTextSansWeb/GuardianTextSansWeb-Medium.eot?#iefix') format('embedded-opentype'), url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianTextSansWeb/GuardianTextSansWeb-Medium.woff2') format('woff2'), url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianTextSansWeb/GuardianTextSansWeb-Medium.woff') format('woff'), url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianTextSansWeb/GuardianTextSansWeb-Medium.ttf') format('truetype'), url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianTextSansWeb/GuardianTextSansWeb-Medium.svg#GuardianTextSansWeb-Medium') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal
}

body {
  --top-inset: 0px;
}

canvas {
  // Prevent default iOS behaviour from interfering with long press on map
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
}

body.android {
  --top-inset: 58px;
}